project:
  type: website
  output-dir: ../docs

execute:
  freeze: auto  # re-render only when source changes

website:
  title: "Hello!"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About
      - href: analysis.qmd
        text: Example analysis

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



